button:focus {outline:0;}


#bottomMenu 
{
    
    /*height: 60px;*/
    background-color: rgb(253,253,253);
    color: white;
    /* z-index boosted to fit automatic z-index based on camera distance*/
    z-index: 100;
    position: absolute;
    bottom: 0%;
    display:table;
    /*table-layout:fixed;*/
    text-align:center;
    box-sizing: border-box;

    width: 100%;
    
    
    padding-left: 5px;
    padding-right: 5px;
    padding: 0px;
    border-spacing: 2px 0px;
}



.bottomMenuSplit 
{
    /*height: 60px;*/
    background-color: rgb(241,241,241);
    color: black;
    opacity: 1;
    border: none;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.bottomButton 
{
    cursor: pointer;
    background-color: rgb(241,241,241);
    border: none;
    width: 100%;
    height: 60px;
    stroke: rgb(30,30,30);
    transition: all 0.2s;
  
    transition-timing-function: ease-out;
    &.active
    {
        background-color: rgb(110,110,110);
        color: rgb(254,254,254);
        
        stroke: rgb(241,241,241);
        transition: all 0.2s;
        transition-timing-function: ease-out;
    }
    
}


.bottomIcon 
{
    width: 40px;
    height: 40px;
    display: inline;
    text-align: left;
    vertical-align: middle;
}

.bottomButtonText
{
    /*font-weight: bold;*/
    font-size: 1.5em;
    vertical-align: middle;
    margin-left: 10px;
    
}

/*@media all  and (max-width: 600px)*/
/*{*/
    .bottomButtonText
    {
        font-size: 1em;
    }
    
    .bottomIcon 
    {
        width: 20px;
        height: 20px;
        display: inline;
        text-align: left;
        vertical-align: middle;
        /*margin-left: 5%;*/
    }
    
    .bottomButton 
    {
        height: 40px;
    }
/*}*/



@media all and (max-width: 500px)
{
    .bottomButtonText
    {
        font-size: 0em;
    }
    
    .bottomIcon 
    {
        width: 20px;
        height: 20px;
        display: inline;
        text-align: left;
        vertical-align: middle;
    }
    
    
    .bottomButton 
    {
        /*width:40px;*/
        /*height: 40px;*/
        height: 30px;
    }
    
    #bottomMenu 
    {
    

    background-color: rgb(253,253,253);
    color: white;
    z-index: 5;
    position: absolute;
    bottom: 0%;
    display:table;

    text-align:center;
    box-sizing: border-box;

    width: 100%;
    
    
    
    padding-left: 5px;
    padding-right: 5px;
    padding: 0px;
    border-spacing: 2px 0px;
    }
}

